*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    border-collapse: collapse;
}
body{
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #1e3050;
    background-color: white;
}
i{
    text-decoration: none;
    font-style: normal;
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transition: all 2s;
}
.show{
    opacity: 1;
    filter: blur(0);
}

/* REDES Y CONTACTO */
#navTop{
    background-color: #AFCEEC;
    color: #1e3050;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 0.3rem;
    /* font-weight: bold; */
}
#navTop p{
    display: inline;
}
#contacto{
    margin-left: 57px;
}
#telefono{
    margin-left: 30px;
}
#redes{
    font-style: normal;
    font-size: 0.9rem;
    color: #1e3050;
    float: right;
    margin-right: 57px;
}

/* navegacion principal */
#pagNav{
    background-color: #CADEF1;
    font-size: 1.1.rem;
    font-weight: 500;
    display: flex;
    align-content: end;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1); */
}
#pagNav a{
    color: #1e3050b2;
    text-decoration: none;
    transition: color 0.5s ease;
}
#pagNav div div a:hover{
    color: #1e3050;
    text-decoration: underline;
}
.serviciosLinks:hover{
    text-decoration: none !important;
    background-color: #afcdec62;
}
#optNav{
    margin-right: 30px;
    font-size: 1.1rem;
}
#logo{
    font-size: 1.3rem;
    margin-left: 47px;
}
#btnNav{
    margin-right: 3rem;
}

/* Responsividad */
@media screen and (max-width: 561px){
    #logo{margin-left: 1rem;}
    #btnNav{margin-right: 1rem;}
    #telefono{margin-left: 45px;}
    #contacto{margin-left: 10px;}
    #redes{margin-right: 10px;}
    #optNav li{margin-right: 0.1rem;}
    #Registro{margin-right: 1.5rem;}
    #optNav li{margin-right: -1.2rem !important;}
    #Registro{margin-right: 1.4rem;}
}
@media screen and (min-width: 992px){
    #optNav{display: inline;}
}
@media screen and (max-width: 992px){
    #optNav li{margin-right: 0.8rem;}
    #Registro{margin-right: 1.5rem;}
}


header{
    background-color: white;
    margin-top: 2rem;
    color: #1e3050;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0.2rem 0.5rem;
}
header h1{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 4rem;
}
header:after {
    content: "";
    position: absolute;
    display: block;
    width: 90px;
    height: 3px;
    background: #1e3050;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-bottom: 34rem;

}

#productos{
    width: auto;
    margin: 0 auto;
}
#productos article{
    transition: box-shadow 0.3s ease;
    background-color: white;
    margin: 1rem;
    margin-top: 2rem;
    border-radius: 0.7rem;
    padding: 1.5rem 1.5rem;
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}
#productos article img{
    border-radius: 0.3rem;
    
}
section article h2, section article p{
    margin: 1rem;
}
.btnCompra{
    padding: 0.8rem;
    border-radius: 1.3rem;
}

#piePagina
{
    background-color: #CADEF1;
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin-top: 4rem;
}
#piePagina h1{
    font-weight: bold;
}
.linkPie{
    color: #6f6f6f;
    text-decoration: none;
}